@import "vars";

//vars


.item-menu{
	margin-left:auto;
	overflow:visible;
	position:relative;
	display:inline-block;

	&--toggle{
		border:none;
		cursor:pointer;
	}
	.menu-list{
		width:150px;
		padding:0;
		list-style:none;
		display:none;
		height:auto;
		background:$color-white;
		position:absolute;
		right:0;
		margin:0;
		@include item-decoration;
		li{
			
			border-bottom:1px solid $color-gray-lightest;
			

			span{
				padding:0 $space-base;
				display:flex;
				align-items:center;
				height:3rem;
				cursor:pointer;
				&:hover{
					background:darken($color-white, 5%)
				}
			}
		}
	}
	&:hover{
		.menu-list{
			display:block;
		}
	}
}









