@import "vars";
@import "button";
@import "checklist";
@import "progress-bar";
@import "item-menu";
//vars
$item-width: 30rem;
$item-height:40rem;

//base-colors
$color-black:#000;
$color-gray-dark:#222222;
$color-gray-darker:#4a4a4a;
$color-gray-darkest: #1A1A1A;
$color-gray:#7C7A7A;
$color-gray-lighter: #cccccc;
$color-gray-lightest:#f4f4f4;
$color-gold:#c2b16d;
$color-white:#fff;

//colors
$main-color:$color-gray;
$title-color:$color-gray-dark;
$site-bg-color:$color-gray-lightest;
$item-bg-color:$color-white;
$button-hover-color: $color-gray;

.item{
	background:$item-bg-color;
	width:$item-width;
	max-height:$item-height;
	padding:$space-md;
	margin:$space-md;
	
	display:inline-flex;
	flex-direction:column;

	@include item-decoration;

	header{
		border-bottom:1px solid $color-gray-lighter;
		padding-bottom:$space-md/2;
		margin-bottom:$space-md/2;
		display:flex;
		position:relative;
		.edit-link{
			display:block;
			display:none;
			height:15px;
		}
		.edit-icon{
			height:100%;
		}
	&:hover .edit-link{
		display:block

	}
	}
	&--header--title{
		flex-grow:1;
	}
	&--body{
		font-size:$font-size-xs;
		border-bottom:1px solid $color-gray-lighter;
		padding:$space-md/2 0;
		flex-grow:1;
	 	overflow-y: auto;
		&--description{
			font-style: italic;
			pre{
				padding:0;
				margin:0
			}
		}
	}
	&--footer{
		padding-top:$space-md/2;
		display:flex;
	}
	.label-list{
		font-style: italic;
		&--item{
			font-size:$font-size-xs ;
			padding:$space-base;
			background:lighten($color-gray, 45%);
			color:$color-gray-darkest;
			margin:$space-base;
			display:inline-block;
		}
	}

}









